<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/gerente/vendas_style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Gerente-Cadastro-Funcionário</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">Padaria</div>
            <ul class="links">
                <li><a th:href="@{funcionarios}">Funcionários</a></li>
                <li><a th:href="@{itens}">Itens</a></li>
                <li><a th:href="@{fornecedores}">Fornecedores</a></li>
                <li><a th:href="@{vendas}">Vendas</a></li>
            </ul>
            <li><a href="sair" class="action_btn"><i class='bx bx-log-out'></i> Sair</a></li>
        </div>
    </header>

    <div>
        <form action="#" th:action="@{register-user}" th:object="${user}" method="post">
            <div><label>
                <input type="text" th:field="*{role}" placeholder="Cargo">
            </label></div>
            <div><label>
                <input type="password" th:field="*{password}" placeholder="Senha">
            </label></div>

            <div><input type="submit" value="Registrar Funcionário"></div>
        </form>
    </div>
</body>
</html>